<div class="sign_area">
	<div class="login_area">
		<form method="POST">
			<center>
				<select name="shipadd">
				  <option value="mirpur 2">Mirpur 2</option>
				  <option value="nikunjo">nikunjo</option>
				  <option value="uttara">Uttara</option>
				  <option value="badda">Badda</option>
				</select>
				</br>
				<input type="text" placeholder="Shipping date" value="2018-07-09" id="datepicker" name="shippingDate">
			
				
				<input type="submit" value="Confirm Order" name="order_btn" id="order_btn" />
			
			</center>
		</form>
		<p><%= msg%></p>
	</div>
</div>