<!DOCTYPE html>
<html>
<head>
	<title>Ecommerce Portal | <%- title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">

	<script type="text/javascript" src="/ajax/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	
</head>
<body>
	<header class="menu">
	
		<div class="container">
			<div class="leftcontainer">
				<a href="/home"><h1>Ecommerce Portal</h1></a>
			</div>
			<div class="rightcontainer">
				<ul>
					<li><a href="/home">home</a></li>
					
					
					<li><a href="/user/cart">cart </a></li>
					<li><a href="/login">login</a></li>
				
				</ul>
			</div>
		</div>
	</header>
<%- content %>