<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div class="sign_area">
				<div class="login_area">
					<form method="POST">
						<center>
							<h2>Sign In</h2>
							<input type="text" placeholder="Enter Email" name="email"/></br>

							<input type="password" placeholder="Enter Password" name="password"/></br>

							<input style="width:20px;margin-left:40px;display:inline-block;float:left;" type="checkbox"  name="remember" /><h3 style="float:left;color:#fff;text-align:left;margin-top:15px;margin-left:10px; font-size: 16px;">Remember Me</h3></br>

							<input type="submit" value="Login" name="login_btn" />

							<a href="/registration"><input class="reg_btn" type="button" value="Register" name="reg_btn" /></a>

						</center>
					</form>
				</div>
			</div>
		</div>
		
	</div>

</div>
